asgiref==3.8.1
astroid==3.3.11
bandit==1.8.6
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
dill==0.4.0
Django==5.2.4
django-cors-headers==4.7.0
django-silk==5.4.0
djangorestframework==3.16.0
flake8==7.3.0
gprof2dot==2025.4.14
isort==6.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.17.0
mypy_extensions==1.1.0
mysqlclient==2.2.7
pathspec==0.12.1
pbr==6.1.1
pillow==11.3.0
platformdirs==4.3.8
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
Pygments==2.19.2
pylint==3.3.7
PyMySQL==1.1.0
python-decouple==3.8
PyYAML==6.0.2
reportlab==4.4.2
rest-framework-simplejwt==0.0.2
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.3
stevedore==5.4.1
tomlkit==0.13.3
typing_extensions==4.14.1
tzdata==2025.2
